.advantages {
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  &__icon {
    display: flex;
    height: 120px;
    width: 270px;
    background-color: var(--background-secondary-color);
    align-items: center;
    justify-content: center;
  }
  &__item {
    @include tablet {
      width: calc((100% - 30px) / 2);
    }
    @include desktop {
      width: calc((100% - 90px) / 4);
    }
  }
  &__subtitle {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    @include tablet {
      text-align: start;
    }
  }
  &__description {
    margin-top: 10px;
    line-height: 1.71;
    color: var(--secondary-color);
  }
}
