.clients {
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.09;
    text-align: center;
    color: var(--primary-color);
    @include desktop {
      font-size: 36px;
      line-height: 1.17;
    }
  }
  &__list {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    flex-wrap: wrap;
    @include desktop {
      flex-wrap: nowrap;
    }
  }
  &__item {
    height: 92px;
    width: calc((100% - 30px) / 2);
    @include tablet {
      width: calc((100% - 60px) / 3);
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-color);
    @extend %align-list;
    justify-content: center;
    fill: var(--icon-color);
    border-radius: 4px;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    fill: var(--accent);
    border: 1px solid var(--accent);
  }
}
