.header {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  &__conteiner {
    display: flex;
    align-items: center;
    min-width: 290px;
    height: 60px;
    @include tablet {
      height: 80px;
    }
  }
}
