.portfolio__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio__buttons-btn {
  padding: 6px 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  color: var(--primary-color);
  background-color: var(--background-secondary-color);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__buttons-item:nth-child(n + 2) {
  margin-left: 8px;
}
.portfolio__buttons-btn:hover,
.portfolio__buttons-btn:focus {
  color: var(--primary-light-color);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio__item {
  width: 370px;
  margin: 15px;
  flex-basis: calc (100% / 3 - 15);
}
.portfolio__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__top-text,
.portfolio__link:focus .portfolio__top-text {
  transform: translateY(0);
}
.portfolio__text-box {
  position: relative;
  overflow: hidden;
}
.portfolio__top-text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px 0 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-light-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item-content {
  padding: 20px 24px;
  border: solid 1px var(--border-color);
  border-top: none;
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
.portfolio__subtitle {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
}
