body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.link {
  text-decoration: none;
  /* color: inherit; */
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
