:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --primary-light-color: #ffffff;
  --accent: #2196f3;
  --background-button-color: #eeeeee;
  --accent-darc-color: #000000;
  --background-secondary-color: #f5f4fa;
  --mail-and-tel-color: rgba(255, 255, 255, 0.6);
  --background-dark-color: #2f303a;
  --background-transparent-color: rgb(255, 255, 255, 0.1);
  --background-primary-color: var(--primary-light-color);
  --border-color: #ececec;
  --icon-color: #afb1b8;
}

//  @mixin transition($property) {
//     transition: $property 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
